/* CSS = Cascading Stylesheet */

/*

Anatomia do CSS

seletor {
    propriedade: valor;
}

*/

/* ESTILOS GERAIS */
body, main, div, section, a, ul, li, img, figure, p, header, nav, h2{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    list-style: none;
}

/* CORPO */
body{
    font-family: 'Rubik', sans-serif;
    background: linear-gradient(
0deg, #121212, #121212), #F1F1F1;
    color: #F1F1F1;
}

/* MAIN */
main{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}
.sidebarMenuNavegacao{
    width: 15.9%;
    padding: 30px;
    height: calc(100% - 167px);
}
.sidebarMenuNavegacao > img{
    margin-bottom: 25px;
}

/* ASIDE */
.menuNavegacao{}

.listaLinks{}
.listaLinks > li{
    margin-bottom: 17px;
}
.listaLinks > li > a{
    color: #f1f1f1;
    display: flex;
    align-items: center;
}
.listaLinks > li > a > img{
    width: 28px;
    margin-right: 20px;
}

/* SEÇÃO LISTA DE MÚSICAS */
.secaoMusicas{
    width: 80%;
    background-color: #181818;
}
.cabecalho{
    background-image: url(../img/header.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 230px;
    position: relative;
    padding: 20px 80px;
}

/* USUÁRIO */
.user{
    display: flex;
    align-items: center;
    float: right;
}
.user > img{
    margin-right: 20px;
}
.user > h2{
    font-weight: lighter;
}

/* QUANTIDADE DE MÚSICAS */
.qtdMusicas{
    position: absolute;
    left: 80px;
    bottom: 20px;
}
.qtdMusicas > p{
    font-size: 28px;
    font-weight: 300;
}

/* ÁREA LISTA DE MÚSICAS */
.areaListaMusicas{
    padding: 20px 80px;
}
#btnPause{
    background-color: #0047FF;
    color: #f1f1f1;
    border: none;
    text-transform: uppercase;
    padding: 8px 20px;
    border-radius: 7px;
    font-size: 18px;
    margin-bottom: 20px;
}

/* CABEÇALHO INFO MÚSICAS */
.cabecalhoInfoMusicas{
    display: flex;
    border-bottom: 2px solid #646464;
    padding: 8px 56px;
}
.cabecalhoInfoMusicas > .primeiroItem{
    width: 60%;
}
.cabecalhoInfoMusicas > p{
    width: 25%;
}

/* LISTA DE MÚSICAS */
.listaMusicas{
    height: 500px;
    overflow-y: scroll;
}
.listaMusicas > li{
    display: flex;
    padding: 8px 56px;
    border-bottom: 1px solid #646464;
}
.listaMusicas > li > .primeiroItem{
    width: 60%;
}
.listaMusicas > li > p{
    width: 25%;
}

/* SEÇÃO DO PLAYER */
.areaPlayer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 80px;
}

/* INFORMAÇÕES MÚSICA ATUAL */
.infoMusicaAtual{
    display: flex;
    align-items: center;
}

.imagemAlbum{
    margin-right: 40px;
}
.imagemAlbum > img{}
.imagemAlbum > figcaption{
    display: none;
}

.infoAlbum{}
.infoAlbum > h2{
    margin-bottom: 8px;
}
.infoAlbum > p{}

/* ÁREA DE CONTROLE */
.areaPlayerControles{}
.areaPlayerControles > button{
    width: 31px;
    height: 31px;
    background: transparent;
    border: none;
    background-position: center;
    background-size: 23px;
    background-repeat: no-repeat;
}

#btnControlPrev{
    background-image: url(../img/previous.png);
}
#btnControlPlay{
    background-image: url(../img/play.png);
    background-size: cover;
    margin: 0 20px;
}
#btnControlPlay.pause{
    background-image: url(../img/pause.png);
}
#btnControlNext{
    background-image: url(../img/next.png);
}

.areaPlayerVolume{
    background-image: url(../img/volume.png);
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 30px;
}